<div class="card dp__card">
    <div class="card-body">
        <div class="dp__form-title mb-5">
            <span class="text-muted">Carrito de Compras</span>
            <span>Icons</span>
        </div>

        <div class="row mt-3 mb-2">
            <div class="col-6"><p class="text-muted dp__form-subtitle">Informacion del producto</p></div>
            <div class="col-3"><p class="text-muted dp__form-subtitle">Cantidad</p></div>
            <div class="col-3"><p class="text-muted dp__form-subtitle">Precio</p></div>
        </div>   
        
        <div class="row dp__row-border">
            <div class="col-6">
                <div class="dp__item">
                    <img src="./assets/images/icon-product.png" class="img-fluid">
                    <span class="ml-3 dp__text-product">Silla para la oficina</span>
                </div>
            </div>
            <div class="col-3">
                <div class="dp__item">
                    <div class="dp__count-item">
                        <i class="fa fa-minus text-muted dp__pointer fa-sm"></i>
                        <span class="text-muted">4</span>
                        <i class="fa fa-plus text-muted dp__pointer fa-sm"></i>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="dp__item">$350000</div>
            </div>
        </div>
        
        <div class="row dp__row-border">
            <div class="col-6">
                <div class="dp__item">
                    <img src="./assets/images/icon-product.png" class="img-fluid">
                    <span class="ml-3 dp__text-product">Silla para la oficina</span>
                </div>
            </div>
            <div class="col-3">
                <div class="dp__item">
                    <div class="dp__count-item">
                        <i class="fa fa-minus text-muted dp__pointer fa-sm"></i>
                        <span class="text-muted">4</span>
                        <i class="fa fa-plus text-muted dp__pointer fa-sm"></i>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="dp__item">$350000</div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <div class="dp__item">
                    <button class="btn dp__btn-buy">Continuar comprando</button>
                </div>                
            </div>
            <div class="col-3">
                <div class="dp__item">
                    <span class="text-muted dp__form-subtitle mr-4">Subtotal</span>
                    <span class="dp__text-subtotal">8 items</span>
                </div>
            </div>
            <div class="col-3">
                <div class="dp__item">$700000</div>
            </div>
        </div>
    </div>
</div>