<div class="card dp__card">
    <div class="card-body">
        <div class="dp__form-title mb-5">
            <span class="text-muted">Metodo de Pago</span>
            <div class="dp__icons">
                icons
            </div>
        </div>
        <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control dp__input" placeholder="Tarjeta">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control dp__input" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <input type="text" class="form-control dp__input" placeholder="Exp">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" class="form-control dp__input" placeholder="CVC">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card dp__credit-card">
                        <div class="card-body">
                            <h5 class="card-title dp__credit-card-title">VISA</h5>
                            <p class="dp__credit-card-number">4321 5678 9874 3214</p>
                            <div class="row">
                                <div class="col-6">
                                    <span class="dp__credit-card-title">Card Holder</span>
                                    <p class="dp__credit-card-value">Victor Franco</p>
                                </div>
                                <div class="col-3">
                                    <span class="dp__credit-card-title">Exp</span>
                                    <p class="dp__credit-card-value">04/20</p>
                                </div>
                                <div class="col-3">
                                    <span class="dp__credit-card-title">CVC</span>
                                    <p class="dp__credit-card-value">403</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col">
                    <button class="btn dp__btn-pay-credit uppercase bold mr-3">forma de pago</button>
                    <button class="btn uppercase">regresar</button>
                </div>
            </div>         
        </form>
    </div>
</div>
