<div class="card dp__card mb-3">
    <img src="./assets/images/card-back-2.png" class="card-img-top">
    <div class="card-body">
        <div class="dp__card-profile">
            <img src="./assets/images/profile-card.png" class="rounded mb-4">
            <h5 class="card-title">{{customerClient}}</h5>
            <small class="text-muted">{{category}}</small>
            <div class="dp__card-buttons mt-5">
                <button class="btn btn-sm dp__btn-listed">{{btnName}} <i class="fa fa-check fa-xs ml-3"></i></button>
                <button class="btn rounded-circle dp__btn-message ml-3"><img src="./assets/images/message-icon.png"></button>
            </div>
        </div>
    </div>
</div>